
.box-test {
  border: 2px solid black;
  background: #cccccc;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
